# База данных
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
POSTGRES_SCHEMA=kupipodariday
POSTGRES_HOST=database
POSTGRES_PORT=5432

# Бэкенд
PORT=3001
BACKEND_PORT=4000
JWT_SECRET=example_jwt_secret
JWT_EXPIRES_IN=7d
HASH_SALT=10

# Фронтенд
FRONTEND_PORT=8081
FRONTEND_DOMAIN=kpd.example.com
BACKEND_DOMAIN=api.kpd.example.com
REACT_APP_API_URL=https://api.kpd.example.com
