POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=example_db
POSTGRES_SCHEMA=kupipodariday
JWT_SECRET=example_jwt_secret
JWT_EXPIRES_IN=7d
FRONTEND_DOMAIN=kpd.example.com
BACKEND_DOMAIN=api.kpd.example.com
REACT_APP_API_URL=https://api.kpd.example.com
